#calculator {
  font-family: Arial, sans-serif;
  margin: 10px;
  display: inline-grid;
}

#calculator .input:invalid {
  border-color: red;
}

#calculator h4 {
  display: block;
  margin: 0.6em 0;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}